body{
  background-color: #222 ;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navigation{
  background-color:  #008966;
  height: 50px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  font-size: 14px;
}
.section{
  background-color: #444;
}
.section img{
  width: 150px;
  height: 150px;
}
.question{
  display: flex;
}
.question-content{

}
h1{
  font-style: italic;
}
.App{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}